#app {
}
html {
	height: 100%;
	color: #f2f2f2;
}
body {
	z-index: 0;
	margin: 0;
	padding: 0;
}

.noscroll {
	height: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
	font-family: Roboto;
}

.navbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.menu-container {
	min-width: 300px;
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.menu-overlay {
	background-color: #FF8E8E;
}

.bm-burger-button {
	margin-top: 25px;
	position: fixed;
	height: 60px;
	width: 120px;
	display: inline;
	outline: 0;
}

.bm-burger-button-inverted {
	margin-left:60px;
	background-image: url(/img/logo_color_filled_inverted.svg);
	background-repeat: no-repeat;
	justify-self: flex-start;
	margin-top: 25px;
	margin-bottom: 15px;
	background-size: contain;
	height: 40px;
	outline: 0;
}

/* Styling of overlay */
.bm-overlay {
}

.list-item {
	text-align: left;
	margin-left:auto;
	margin-right: auto;
	margin-top: 5px;
	width: 180px;
	padding-bottom: 10px;
	border-bottom: 1.5px solid white;
	display: flex;
	outline: 0;
}

.list-item-text {
	justify-content: flex-start;
	color: #FFFFFF; 
	text-decoration: none;
	font-family: Roboto;
	font-weight: 300;
	font-size: 17px;
}

.bm-icon {
	max-height: 40px;
}

.icon-container {
	min-width: 200px;
	flex: 1;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-image {
	height: 80px;
}

.pointer {
	cursor: pointer;
}

.review-more-container {
	margin-left: auto;
	margin-right: auto;
	  margin-top: 150px;
	  max-width: 1050px;
	  display: flex;
	  align-content: center;
	  justify-content: center;
	  flex-wrap: wrap;
}

.review-more-text {
	width: 100%;
	text-align: center;
	font-family: Roboto;
	font-weight: 400;
	font-size: 35px;

	color: #8C8C8C;
}

.review-more-buttons {
	margin-top: 120px;
	width: 100%;
	display: flex;

	justify-content: center;

	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;

	color: #858585;
}

.home-button {
	color: #FF8E8E;
}

.nav-button {
	border-radius: 6px;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 1px 5px 0px #dbdbdb;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	-webkit-transition : background-color 250ms ease-out;
}

.nav-button:hover {
	border: 1px solid #D6D6D6;
	background-color: #f5f5f5;
}

.nav-button:active {
	border: 1px solid #D6D6D6;
	background-color: #e6e6e6;
}

.inverted-button {
	background-color: #FF8E8E;
	color: white;
	border-radius: 6px;
	border: none;
	justify-content: center;
	padding: 10px;
	cursor: pointer;
	box-shadow: 0px 2px 5px 0px #dbdbdb;
	-webkit-transition : background-color 250ms ease-out;
}

.inverted-button:hover {
	background-color: #EB8D8D;
}

.inverted-button:active {
	background-color: #CD6F6F;
}

.italic {
	font-style: italic;
}

.entry-container {
	margin-top: 60px;
}

.all-entries-button {
	width: 125px;
}

.back-button-container {
	justify-self: flex-start;
}

.search-email {
	width: 100%;
	flex-grow: 1;
	color:  #FF8E8E;
	fontFamily: 'Roboto';
	fontWeight: '400';
	fontSize: '17px';
	text-align: right;
	margin-right: 50px;
}

.search-container {
	min-width: 200px;
	flex: 1;
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: flex-end;
}

.search-bar {
	color: #D4D4D4;
}

.search-log-out {
	color: #EB8D8D;
}

.search-log-out:hover {
	color: #CD6F6F;
}

.search-log-out:active {
	color: #946666;
}

.show-text-container {
  margin-top: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.show-text {
	width: 100%;
	text-align: center;
	font-family: Roboto;
	font-weight: 400;
	font-size: 35px;

	color: #FF8E8E;
}

.show-more-buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
	width: 400px;
	display: flex;

	justify-content: center;

	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;

	color: #858585;
}

.card-loading {
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #FF8E8E; /* Orange */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}