.container {
	display: flex;
	font-family: Roboto;
}

.icon {
	margin-top: 50px;
	justify-content: center;
}

.icon-image {
	height: 240px;
}

.top-row {
	display: flex;
}

.title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 45px;

	color: #8C8C8C;
}

.margin-add {
	margin-top: 150px;
}

.thought-box {
	width: 1450px;
	justify-content: center;

	border: 2px solid #F8F8F8;
	box-shadow: 0px 0px 30px 0px #858585;
	box-sizing: border-box;
	border-radius: 15px;

}