.thought-category-container {
	margin-left: 15px;
	width: auto;
	border: none;
}

.thought-category-menu {
	position: relative;
	z-index: 100;
	margin-top: 5px;
	border: 1px solid #BEBEBE;
	border-radius: 5px;
	padding: 2.5px 0px 2.5px 0px;
}

.thought-category {
	color: #8C8C8C;
	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
}

.thought-category-option {
	color: #8C8C8C;
	font-family: Roboto;
	font-weight: 400;
	font-size: 20px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	padding: 5px;
}

.thought-category-option:hover {
	background: #F5F5F5;
	color: #5C8DD7;
}

.thought-category-arrow {
	margin-left: 5px;
/*	height: 10px;
*/	background-image: url(/img/category_arrow.svg);
}